/* Estilos iniciales */
/* --------------------------------------------------------------------------------------------------- */
@font-face {
    font-family: "manrope";
    src: url(./font/Manrope-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "manrope";
    src: url(./font/Manrope-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "manrope";
    src: url(./font/Manrope-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

html {
    --verde: #aeea00ff;
    --verde-sombra-1: #84b200ff;
    --azul: #00111fff;
}

* {
    font-family: "manrope";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0px;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 40px;
    grid-template-areas:
        "h"
        "m"
        "f";
}
/* --------------------------------------------------------------------------------------------------- */

/* Header */
/* --------------------------------------------------------------------------------------------------- */
header {
    grid-area: h;
    background-color: var(--verde);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "l c r";
    align-items: center;
    justify-items: center;
}

.home {
    font-size: 40px;
    font-weight: 600;
    grid-area: c;
}

nav {
    width: 100%;
    height: 100%;
    grid-area: r;
    background-color: var(--verde);
    display: grid;
    grid-template-columns: 1fr 20px;
    grid-template-areas: "a b";
    justify-items: end;
    align-items: center;
}

.menu {
    grid-area: a;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "a b";
    column-gap: 20px;
}

.option {
    border: none;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: var(--verde);
}

#info {
    background-image: url(./icon/info.svg);
    background-size: 100% 100%;
}

#conf {
    background-image: url(./icon/settings.svg);
    background-size: 100% 100%;
}
/* --------------------------------------------------------------------------------------------------- */

/* Main */
/* --------------------------------------------------------------------------------------------------- */
main {
    background-color: var(--azul);
    grid-area: m;
}
/* --------------------------------------------------------------------------------------------------- */

/* Footer */
/* --------------------------------------------------------------------------------------------------- */

footer {
    grid-area: f;
}

/* --------------------------------------------------------------------------------------------------- */
