/* Estilos iniciales */
/* --------------------------------------------------------------------------------------------------- */
@font-face {
    font-family: "manrope";
    src: url(./font/Manrope-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "manrope";
    src: url(./font/Manrope-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "manrope";
    src: url(./font/Manrope-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

html {
    --verde: #aeea00ff;
    --verde-sombra-1: #84b200ff;
    --verde-sombra-2: rgb(108, 148, 0);
    --azul: #00111fff;
    --square: min(80vw, 75vh);
    --buttonSize: 35px;
    --buttonSizeHover: 45px;
    --headerSize: 70px;
    --footerSize: 40px;
    --infoGap: 5px;
    --confBorder: 0.5px;
    --radioSize: 15px;
    --invalid: #c40000;
}

* {
    font-family: "manrope";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0px;
    text-decoration: none;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--headerSize) 1fr var(--footerSize);
    grid-template-areas:
        "h"
        "m"
        "f";
}
/* --------------------------------------------------------------------------------------------------- */

/* Header */
/* --------------------------------------------------------------------------------------------------- */
header {
    height: var(--headerSize);
    grid-area: h;
    background-color: var(--verde);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px;
    grid-auto-rows: max-content;
    grid-template-areas: "l c r";
    align-items: center;
    justify-items: center;
}

.home {
    font-size: 40px;
    font-weight: 600;
    grid-area: c;
}

nav {
    width: 100%;
    height: 100%;
    grid-area: r;
    background-color: var(--verde);
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas: "a b";
    justify-items: end;
    align-items: center;
}

.menu {
    height: 100%;
    grid-area: a;
    display: grid;
    grid-template-columns: repeat(2, 35px);
    grid-template-areas: "a b";
    column-gap: 20px;
}

.menu li {
    height: var(--headerSize);
    width: 100%;
    display: grid;
    grid-template-columns: 35px;
    grid-template-rows: calc((var(--headerSize) - var(--buttonSizeHover)) / 2) var(--buttonSizeHover) calc(
            (var(--headerSize) - var(--buttonSizeHover)) / 2
        );
    grid-template-areas:
        "a"
        "b"
        "c";
    justify-items: center;
    align-items: center;
}

.option {
    grid-area: b;
    border: none;
    width: var(--buttonSize);
    height: var(--buttonSize);
    cursor: pointer;
    background-color: var(--verde);
    background-position: center;
    background-size: var(--buttonSize) var(--buttonSize);
    background-repeat: no-repeat;
}

.option:hover {
    background-color: var(--verde-sombra-1);
    border-radius: 50%;
    width: var(--buttonSizeHover);
    height: var(--buttonSizeHover);
}

.option.clicked {
    background-color: var(--verde-sombra-1);
    border-radius: 50%;
    width: var(--buttonSizeHover);
    height: var(--buttonSizeHover);
}

#info {
    background-image: url(./icon/info.svg);
}

#conf {
    background-image: url(./icon/settings.svg);
}

.dropdownBox {
    display: none;
    position: relative;
    border-radius: 20px;
    background-color: var(--verde-sombra-1);
    grid-area: c;
    align-self: start;
}

.dropdownBox.info {
    width: 500px;
    height: 250px;
}

.dropdownBox.conf {
    width: 200px;
    height: 360px;
}

.ddTitle {
    font-size: 20px;
    font-weight: bold;
}

.ddPara {
    font-size: 18px;
    font-weight: normal;
    text-align: justify;
}

.ddMiniPara {
    font-size: 15px;
    font-weight: normal;
    text-align: justify;
}

.ddEmphasis {
    font-size: 18px;
    font-weight: bold;
}

.menuLabel {
    font-size: 18px;
    font-weight: 600;
}

.dropdownBox.info.show {
    display: grid;
    width: 500px;
    height: 250px;
    grid-template-columns: calc(100% - 20px);
    grid-template-rows: repeat(4, max-content);
    grid-template-areas:
        "a"
        "b"
        "c"
        "d";
    row-gap: var(--infoGap);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.dropdownBox.info.show .ddTitle:nth-child(1) {
    grid-area: a;
}

.dropdownBox.info.show .ddPara :nth-child(2) {
    grid-area: b;
}

.dropdownBox.info.show .ddTitle:nth-child(3) {
    grid-area: c;
}

.dropdownBox.info.show .ddPara :nth-child(4) {
    grid-area: d;
}

.dropdownBox.conf.show {
    display: grid;
    grid-template-columns: 160px;
    grid-template-rows: repeat(3, 120px);
    grid-template-areas:
        "grid"
        "color"
        "canvas";
    justify-content: center;
}

.dropdownBox.conf.show .gridArea {
    grid-area: grid;
    border-bottom: var(--confBorder) solid black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "a"
        "b"
        "c";
    justify-items: center;
    align-items: center;
}
.gridArea .ddTitle {
    grid-area: a;
}
.gridForm {
    grid-area: b;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridForm .textBox {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    width: 60px;
    height: 25px;
    border: 1px solid black;
}

.gridForm .textBox:invalid {
    color: var(--invalid);
}

#gridValueMessage {
    text-align: center;
}

#gridValueMessage.invalid {
    color: var(--invalid);
}

.gridForm .buttons {
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    border: 1px solid black;
    background-color: var(--verde-sombra-1);
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
}

.gridForm .buttons:hover {
    background-color: var(--verde-sombra-2);
    cursor: pointer;
}

.gridForm #plus {
    background-image: url(./icon/plus.svg);
}

.gridForm #minus {
    background-image: url(./icon/minus.svg);
}

.gridArea .ddMiniPara {
    grid-area: c;
}

.dropdownBox.conf.show .colorArea {
    grid-area: color;
    border-top: var(--confBorder) solid black;
    border-bottom: var(--confBorder) solid black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
        "top"
        "middle"
        "bottom";
    justify-items: center;
    align-items: center;
}

.colorArea .ddTitle {
    grid-area: top;
}

.colorArea .colorForm {
    grid-area: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.radioOption {
    appearance: none;
    margin-left: 5px;
    width: var(--radioSize);
    height: var(--radioSize);
    background-color: white;
    border-radius: 20%;
    border: solid 1px black;
    display: inline-flex;
    place-content: center;
}

.radioOption:checked {
    background-color: black;
    background-position: center;
    background-size: var(--radioSize);
    background-repeat: no-repeat;
    background-image: url(./icon/check.svg);
}

.radioGroup,
.radioGroup * {
    cursor: pointer;
}

.colorArea .color {
    grid-area: bottom;
}

.colorPicker {
    display: none;
}

.dropdownBox.conf.show .canvasArea {
    grid-area: canvas;
    border-top: var(--confBorder) solid black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr repeat(2, max-content);
    grid-template-areas: "top" "middle" "bottom";
    justify-items: center;
    align-items: center;
}

.canvasArea:nth-child(1) {
    grid-area: top;
}

.canvasArea:nth-child(2) {
    grid-area: middle;
}

.canvasArea:nth-child(3) {
    grid-area: bottom;
}

.canvasArea .canvasButton {
    padding: 2px 7px;
    border-style: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--verde-sombra-1);
}

.canvasArea .canvasButton:hover {
    cursor: pointer;
    background-color: var(--verde-sombra-2);
}

.canvasArea .buttonLogo {
    width: 20px;
    margin-left: 5px;
}

/* --------------------------------------------------------------------------------------------------- */

/* Main */
/* --------------------------------------------------------------------------------------------------- */
main {
    background-color: var(--azul);
    grid-area: m;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    width: var(--square);
    height: var(--square);
    border: 1px solid var(--verde);
    display: grid;
}

.pixels {
    background-color: white;
}
/* --------------------------------------------------------------------------------------------------- */

/* Footer */
/* --------------------------------------------------------------------------------------------------- */

footer {
    grid-area: f;
    background-color: var(--verde);
    display: flex;
    justify-content: center;
    align-items: center;
}

.github {
    font-size: 25px;
    font-weight: 600;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github:hover {
    background-color: var(--verde-sombra-1);
    border-radius: 10px;
    width: 103px;
    height: 30px;
}

/* --------------------------------------------------------------------------------------------------- */

/* Intro */
/* --------------------------------------------------------------------------------------------------- */
.blur {
    filter: blur(3px) brightness(70%);
}

.intro {
    display: grid;
    width: 550px;
    height: 350px;
    border-radius: 20px;
    background-color: var(--verde-sombra-1);
    grid-template-columns: calc(100% - 20px);
    grid-template-rows: 50px repeat(4, max-content) 70px;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    row-gap: var(--infoGap);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.introTitle {
    font-weight: bold;
    font-size: 25px;
}

.introButton {
    width: 83px;
    height: 33px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: var(--verde-sombra-1);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
/* --------------------------------------------------------------------------------------------------- */
