/* Estilos iniciales */
/* --------------------------------------------------------------------------------------------------- */
@font-face {
    font-family: "manrope";
    src: url(./font/Manrope-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "manrope";
    src: url(./font/Manrope-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "manrope";
    src: url(./font/Manrope-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

html {
    --verde: #aeea00ff;
    --verde-sombra-1: #84b200ff;
    --verde-sombra-2: rgb(108, 148, 0);
    --azul: #00111fff;
    --square: min(80vw, 75vh);
    --buttonSize: 35px;
    --buttonSizeHover: 45px;
    --headerSize: 70px;
    --footerSize: 40px;
    --infoGap: 5px;
    --confBorder: 0.5px;
}

* {
    font-family: "manrope";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0px;
    text-decoration: none;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 40px;
    grid-template-areas:
        "h"
        "m"
        "f";
}
/* --------------------------------------------------------------------------------------------------- */

/* Header */
/* --------------------------------------------------------------------------------------------------- */
header {
    grid-area: h;
    background-color: var(--verde);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "l c r";
    align-items: center;
    justify-items: center;
}

.home {
    font-size: 40px;
    font-weight: 600;
    grid-area: c;
}

nav {
    width: 100%;
    height: 100%;
    grid-area: r;
    background-color: var(--verde);
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas: "a b";
    justify-items: end;
    align-items: center;
}

.menu {
    grid-area: a;
    display: grid;
    grid-template-columns: repeat(2, 35px);
    grid-template-areas: "a b";
    column-gap: 20px;
    justify-items: center;
    align-items: center;
}

.option {
    border: none;
    width: var(--buttonSize);
    height: var(--buttonSize);
    cursor: pointer;
    background-color: var(--verde);
    background-position: center;
    background-size: var(--buttonSize) var(--buttonSize);
    background-repeat: no-repeat;
}

.option:hover {
    background-color: var(--verde-sombra-1);
    border-radius: 50%;
    width: var(--buttonSizeHover);
    height: var(--buttonSizeHover);
}

#info {
    background-image: url(./icon/info.svg);
}

#conf {
    background-image: url(./icon/settings.svg);
}
}
/* --------------------------------------------------------------------------------------------------- */

/* Main */
/* --------------------------------------------------------------------------------------------------- */
main {
    background-color: var(--azul);
    grid-area: m;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    width: var(--square);
    height: var(--square);
    border: 1px solid var(--verde);
    display: grid;
}

.pixels {
    background-color: white;
}
/* --------------------------------------------------------------------------------------------------- */

/* Footer */
/* --------------------------------------------------------------------------------------------------- */

footer {
    grid-area: f;
    background-color: var(--verde);
    display: flex;
    justify-content: center;
    align-items: center;
}

.github {
    font-size: 25px;
    font-weight: 600;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github:hover {
    background-color: var(--verde-sombra-1);
    border-radius: 10px;
    width: 103px;
    height: 30px;
}

/* --------------------------------------------------------------------------------------------------- */
